@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1-1: #034670;

  --color-1-2: #c3d1e5;

  --color-1-3: #98b8d8;

  --color-1-4: #6490bc;

  --color-1-5: #296595ff;

  --color-2-1: #67b6e4;

  --color-2-2: #5fa3d7;

  --color-2-3: #5790c9;

  --color-2-4: #476aae;

  --color-2-5: #3b4d9a;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('./assets/fonts/CreatoDisplay-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Mosvita';
  src: url('./assets/fonts/Mosvita-BlackExpanded.otf') format('opentype');
}

html {
  font-family: 'Mosvita', sans-serif;
}
